<% if authorized? %>
<div class="col-xs-6" style="padding-top: 5%">
<p>USUARIO: <%= (current_user_name @game).to_s %></p>
<%= (show_all_board @game).to_s %>
</div>
<div class="col-xs-6" style="padding-top: 5%">
<p>USUARIO: <%= (opponent_user_name @game).to_s %></p>
<%= (show_opponent_board @game).to_s %>
</div>
<script>
function checkTurn(){
	$.ajax({
  		type: "GET",
  		url: window.location.origin+"/turn/<%= @game.id.to_s %>",
  		dataType: "script",
  		success: function() {
    		location.reload();
  		},
	});
}
$(document).ready(function(){
	setInterval(checkTurn, 3000);
});
</script>
<% end %>